.filter h2 {
  color: #fff;
  margin-bottom: 10px;
}
.filter-options {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.filter-options select {
  color: #fff;
  width: 100%;
  height: 35px;
  border: 2.5px solid #fff;
  background-color: rgb(60, 107, 225);
  outline: none;
  border-radius: 5px;
  padding: 0 10px;
  cursor: pointer;
}

.filter-options button {
  background-color: rgb(60, 107, 225);
  width: 50px;
  height: 30px;
  border-radius: 5px;
  margin: auto;
  cursor: pointer;
  color: #fff;
  border: 2.5px solid #fff;
  margin-left: 15px;
}
@media (max-width: 700px) {
  .filter h2 {
    font-size: 20px;
  }
  .filter-options {
    gap: 30px;
  }
}
@media (max-width: 420px) {
  .filter h2 {
    font-size: 17px;
  }
  .filter-options {
    gap: 10px;
  }
  .filter-options select {
    width: 90%;
  }
}
